<html>
<%= stylesheet_link_tag "/whispers", :media => "all" %>
    <header class="clearfix">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <span><%= image_tag 'twitter_clone.png', size:'150x38' %></span>
        <span class="notice"><%= notice %></span>
        <dev class="hearder-right">
            <%= button_to "ツイート", {controller: 'whispers', action: 'new'}, {method: :get,class: "tweet_button"} %>
        </dev>
    </header>
    <body>
        <table class="profile_table", frame="box">
            <tr class="profile_tr">
                <td colspan="2">
                    <%= image_tag 'profile_icon.png', size:'130x130' %>
                    <%= image_tag 'whisper.png', size:'80x80' %>
                </td>
            </tr>
            <tr class="profile_tr_buttom">
                <td>
                    <div>ツイート</div>
                    <div class="profile_td_tweet_count"><%= @tweet_count %></div>
                </td>
                <td>
                    <div>金井　崇</div>
                    <div>@tkanai001</div>
                </td>
            </tr>
        </table>
        <table class="main_table",rules="rows">
            <% @whispers.each do |whisper| %>
            <% updated_at = whisper.updated_at.strftime("%Y年%-m月%-d日 %-H時%-M分%-S秒") %>
            <tr>
                <td class="main_tbl_icon">
                    <%= image_tag 'profile_icon.png', size:'80x80' %>
                </td>
                <td class="main_tbl_total">
                    <span>
                        <strong class="main_tbl_name">金井　崇 @tkanai001　　　</strong>
                        <em class="main_tbl_upd">・<%= updated_at %></em>
                    </span>
                    <div class="main_tbl_content"><%= whisper.content %></div>
                    <div>
                        <span>　</span>
                        <%= link_to edit_whisper_path(whisper.id) ,class: "main_tbl_edit" do%>
                            <%= image_tag 'edit.png', size:'20x20' %>
                        <% end %>
                        <span>　</span>
                        <%= link_to whisper_path(whisper.id), method: :delete, data: {confirm: '本当に削除してもいいですか？'} do%>
                            <%= image_tag 'destroy.png', size:'20x20' %>
                        <% end %>
                    </div>
                </td>
            </tr>
            <% end %>
        </table>
        <footer>
            <div class="footer-word">
                <p>2019年9月オンライン受講生 課題</p>
            </div>
            <p>© 2015-2019 Copyright DIVE INTO CODE Corp.</p>
        </footer>
    </body>
</html>